.searchBar{
    width: 100%;
    text-align: center;
    overflow: visible;
    margin-top: 2.5%;
}

.bar{
    margin: 0 auto;
    display: inline-block;
    border-radius: 3%;
    font-family: 'MyWebFont', Fallback, sans-serif;
}