@font-face {
  font-family: 'MyWebFont';
  src:  url('starjedi-webfont.woff') format('woff2'),
        url('starjedi-webfont.woff2') format('woff');
  font-weight: 300;
}

.App {
  text-align: center;
}

.title, .text{
  font-family: 'MyWebFont', Fallback, sans-serif;
  max-width: 100%;
  margin: auto;
}

/* .nav{
  position: sticky;
  top: 3%;
  overflow: visible;
  height: auto;
  z-index: 1;
} */

.wrapper{
  margin-top: 5%; 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title{
  font-size: 2.5em;
  margin-top: 2%;
}

.text{
  font-size: 1.5em;
  margin-top: 2%;
  padding-right: 4%;
  padding-left: 4%;
}

